html{
    width: 980px;
    height: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    background-image: url(imagens/fundo.png);
}
#foto-principal img{
    width: 963px;
}
.container{
    width: 940px;
    height: 520px;
    background-color: #fdfbed;
    padding: 10px;
}
