html{
    width: 980px;
    height: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    background-image: url(imagens/fundo.png);
}
#foto-principal img{
    width: 965px;
}
nav{
    text-align: center;
    padding: 10px;
    text-transform:uppercase;
    color:#154c79;
    font-weight: bold;
}
.navegacao{
    word-spacing: 20px;
}
.container{
    width: 940px;
    height: 520px;
    background-color: #fdfbed;
    padding: 10px;
}
