html{
    width: 980px;
    height: 100%;
    border: 1px solid #d1d1bf;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url(imagens/fundo.png);
    display: flex;
    flex-direction: column;
}
nav{
    text-align: center;
    padding: 10px;
    text-transform:uppercase;
    color:#4d5369;
    font-weight: bold;
    background-color: #d4d3be;
}
nav{
    text-align: center;
    padding: 10px;
    text-transform:uppercase;
    color:#154c79;
    font-weight: bold;
    margin-top: -5px;
}
.navegacao{
    word-spacing: 20px;
    text-align: center;
}
h2{
    color:#98978f;
    font-weight: bold;
}
h4{
    text-align: center;
    margin-top: 50px;
}
a{
    text-decoration: none;
}
p{
    text-align: justify;
}
footer h4{
    clear: both;
    font-weight: bold;
}